/ {
    chosen {
        zmk,underglow = &sk6803;  // Можно использовать любое имя, например &led_strip
    };
};

&pinctrl {
    sk6803_default: sk6803_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 8)>; // Для P0.15 (или ваш пин)
            nordic,drive-mode = <NRF_DRIVE_HIGH>; // Важно для nRF52840!
        };
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&sk6803_default>;
    pinctrl-names = "default";
};